services:
  api:
    build:
      context: ./api
      dockerfile: Dockerfile
    environment:
      ASPNETCORE_URLS: "http://+:8080"
      ASPNETCORE_ENVIRONMENT: "Development"
    ports:
      - "5050:8080"
    env_file:
      - .env
    networks:
      - webnet

  web:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    depends_on:
      - api
    ports:
      - "8080:80"
    networks:
      - webnet

networks:
  webnet:
    driver: bridge
